*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url("../IMG/horeca.jpg");

}
.bon{
	z-index: -1;
	position: absolute;
	bottom: 340px;
	right: 1230px;
}
#bestelling{
	padding-right: 100px;
}